@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.__introduce_header{
    text-align: center;
    padding: 4px;
}

.__introduce_page{
    padding: 50px 0 0;
}

.__introduce_w_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.__introduce_w_desc{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.__introduce_form {
    border-top: 1px #e6e6e6 solid;
    margin: 27px 0 0;
    padding: 27px 0;
}

.__introduce_f_block {
    float: left;
    width: 100%;
    margin: 30px 0 0;
}

.__introduce_f_title {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.__introduce_f_inputs {
    padding-left: 0;
    margin: -1px 0 0;
}

.__introduce_f_inputs .form-group {
    margin: 27px 0;
}

.__introduce_f_button_update {
    background: #da3a36;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.__introduce_f_button_update:hover{
    background: #da3a36;
}


/* Schedule  */

.schedule_list {
    float: left;
    width: 100%;
}

.schedule_item {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    position: relative;
}

.name_day {
    margin: 6px 0 0;
}

.day_1,
.day_2,
.day_3,
.day_4,
.day_5,
.day_6,
.day_7{
    display: none;
    position: absolute;
    right: 0;
    top: 0px;
}

.btn-schedule {
    background: transparent;
    color: #da3b37 !important;
    border: 1px #da3b37 solid !important;
    border-radius: 0;
    width: 100%;
    padding: 7px;
}

.btn-schedule:hover{
    color: #da3b37 !important;
}

.header_modals{
    background: #da3b37;
    text-align: center;
    color: #fff;
}

.day_status {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 13px;
}