@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro');

@font-face {
    font-family: 'bariolregular';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header_site {
    background: transparent;
    border: 0;
    margin-bottom: 0;
    padding: 8px;
    z-index: 5;
    // box-shadow: 0px 0px 10px #c5c5c5;
}

.header_site .navbar-nav > li > a {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase
}

.register_btn a {
    background: #fd1b11;
    color: #fff !important;
    padding: 10px 15px !important;
    position: absolute;
    top: 8px;
    margin-left: 7px;
}

.register_btn a:hover{
    background: #fd1b11 !important
}

.header_site .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.logo_site img {
    position: relative;
    top: -7px;
}

.title_home{
    font-family: 'Muli', sans-serif;
    color: #fff;
}

.links_home {
    margin: 50px 0 0;
}

.links_home a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 0;
    padding: 12px 30px;
}

.about_more {
    background: #ff0002;
    border: 1px #ff0002 solid;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.about_more:hover {
    text-decoration: none;
    color: #fff;
}

.driving_home {
    border: 1px #fff solid;
    color: #fff;
    text-transform: uppercase;
}

.driving_home:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}

/* Navigation Search */

.slide {
    background: url(../img/slider.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 870px;
}


.text_home {
    margin: 150px 0 0;
    width: 40%;
    text-align: left;
    font-size: 16px;
}

.text_home p {
    font-family: 'bariolregular';
    margin: 27px 0;
    color: #fff;
}

.navigation_search h2 {
    font-family: 'Montserrat';
}

/* Home Results */

.home_results{
    padding: 40px 0 0;
    text-align: center
}

.home_results h2 {
    font-family: 'Montserrat';
}

._grids_business {
    margin: 60px 0 0;
}

._business_data {
    text-align: left;
}

.restaurant_name {
    padding: 8px 0 0;
    font-size: 16px;
}

.restaurant_filter {
    font-size: 14px;
    color: #989898;
}

.restaurant_time {
    font-size: 12px;
    padding: 5px 0;
    display: block;
    color: #000;
}


/* ========= How It Works */

.cont_works {
    padding: 60px;
}

.title_reference {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.how_works {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.how_works h2 {
    color: #000;
    margin: 60px 0 0;
    font-family: 'Montserrat';
}

.title_reference span {
    display: block;
    margin: 11px 0 0;
    font-size: 19px;
    font-family: 'bariolregular';
    color: #a09c9c;
}

.liners_bottom {
    background: #fd1b11;
    width: 80px;
    height: 5px;
    margin: 24px auto;
    display: block;
}


/* ========== Download Page ============ */

.download_app {
    padding: 60px 0 0;
}

.download_app img {
    max-width: 100%;
}

.download_box {
    margin: 70px 0 0;
    width: 40%;
    font-family: 'bariolregular';
    font-size: 16px
}

.blockes{
    display: block
}

.download_box h3 {
    color: #000;
    font-family: 'Montserrat';
}

.dowload_links {
    margin: 30px 0;
}

.dowload_links a {
    display: inline-block;
    width: 36%;
    margin: 0 10px;
}

/* ================ Problem Landing ========= */

.problem_lading {
    padding: 40px;
    background: #fff;
}

.problem_lading h3 {
    font-family: 'Montserrat';
    color: #000;
    text-align: center;
}

.btn_faq_landing {
    background: #fd1b11;
    display: block;
    color: #fff;
    padding: 12px 22px;
    width: 43%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 10px;
}

.btn_faq_landing span {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

/* ========== Profile Pic ============== */

.profile_pic img{
    max-width: 100%
}

/* ======================== */

.form_register {
    width: 70%;
    margin: 0 auto;
}

._btn_regiters{
    background: #da3a36;
    color: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

._btn_regiters:hover{
    color: #fff;
}

.welcome_register{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#registerForm{
    margin-top: 20px
}

.register_restaurants {
    margin: 55px 0 0;
}

.business_register {
    width: 80%;
    border: 1px #ececec solid;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #e4e0e0;
}

/* Footer */

.footer {
    background: #111;
    padding: 30px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fff;
    text-decoration: none;
}

.first_footer {
    padding: 15px 0;
}

.first_footer ul {
    padding: 0;
}

.first_footer ul li {
    list-style: none;
    margin: 16px 0;
}

.second_footer {
    border-top: 1px #333 solid;
    padding: 15px 0;
}

.stores_footer {
    position: relative;
    top: 14px;
}

.stores_footer img {
    width: 33%;
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer_terms {
    float: right;
    position: relative;
    top: 10px;
}

.footer_terms {
    float: right;
    position: relative;
    top: 10px;
}

.social_footer {
    position: relative;
    top: 30px;
    left: 7px;
}

.social_footer a {
    margin: 0 10px;
}